@import '../../../styles/_mixins';

.button {
  @include button-style;
  position: relative;

  &.plain {
    background-color: transparent;
    border: none;
    padding: 0;
    color: $font-dark;

    &.light {
      color: $font-light;

      a {
        color: $font-light;
      }
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .button-image{
    float: right;
    margin: 2px 10px 0 0;
    max-height: 24px;

    &.image-left {
      float: left;
      margin: 2px 0 0 10px;
    }
  }
}