// Colors
$grey: #BEBEBE;
$grey-dark: #444;
$grey-light: #e0e0e0;
$silver: #C0C0C0;

$blue-dark: #1b579b;
$blue: #1089ed;
$blue-light: #ADD8E6;

$yellow-dark: #f0bd3b;
$yellow-light: #efd28f;

$red-dark: #ea3a3a;
$red-light: #f27474;

$green-dark: #2ab33a;
$green-light: #6de879;

$off-white: #FAFAFA;

$font-dark: #222;
$font-light: #fff;
$font-green: #30c13e;

$white: #FFF;

// Border
$border-radius: 5px;

// Max Width
$width-main: 1280px;

// Spacing
$spacing-x: 18px;
$spacing-x-large: 36px;
$spacing-y: 10px;
$spacing-y-large: 20px;
$input-spacing: 6px;
$input-spacing-x: 8px;
$input-spacing-y: 6px;

