@import '../../../styles/_variables';

.spacer {
  margin: 0 $spacing-x;
  padding: $spacing-y 0;

  &.no-x {
    margin-left: 0;
    margin-right: 0;
  }

  &.no-y {
    padding-top: 0;
    padding-bottom: 0;
  }
}