@import './styles/_variables';
@import './styles/_mixins';

body {
  @include type-style;
  margin: 0;
  background-color: $grey;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

a {
  @include type-style;
  font-weight: inherit;
  border: none;
  font-style: normal;
  text-decoration: none;
  padding: 0;
}

h1 {
  @include h1;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}
